.dashboard{
    width: 100%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    flex-direction: row;
}
.ds_sidebar{
    width: 22%;
    border-right: 1px solid rgb(161, 133, 133);
    z-index: 2;
}
.ds_main{
    width: 100%;
}

.ds_sidebar_menu{
    position: absolute;
    top: 1rem;
    left: 1rem;
    
}
.ds_sidebar_menu svg{
    cursor: pointer;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .ds_sidebar{
        width: 32%;
    }
  }
@media (max-width: 426px) {
    .ds_sidebar{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #121212;
        height: 100vh;
        overflow: hidden;
    }

  }
  