.recents{
    border: 2px solid rgb(65, 3, 235);
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: rgb(33, 1, 119)
}
.recents-tags{
    display: inline-flex;
    gap: 1rem;
    margin: 0.3rem;
}
.recents-tags p {
    border: 2px solid rgb(65, 3, 235);
    padding: 0.1rem;
    font-size: 0.8rem;
    border-radius: 0.2rem;
    background-color: rgb(18, 0, 97);
}
